@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&family=Lora:wght@400;500;700&display=swap');

:root {
    --su-green: rgb(47 253 214);
    --su-indigo-light: rgb(121 108 255);
    --su-indigo-light-hover: rgb(83, 70, 219);
    --su-ice: rgb(97 214 255);
    --su-ice-hover: rgb(52, 175, 220);
    --su-ice-bg: rgb(0 94 159);
    --su-ice-bg-hover: rgb(0 75 126);
    --su-indigo-lightest: rgb(188, 183, 241);
    --su-bright-blue: rgb(4 158 252);
    --su-bright-blue-hover: rgb(0 130 204);
    --su-powder-blue: rgb(152 186 250);
    --su-powder-blue-hover: rgb(122 186 255);
    --su-white: rgb(246, 247, 253);
    --su-indigo: rgb(57 48 204);
    --su-indigo-hover: rgb(40 30 175);
    --su-indigo-foreground: rgb(155 205 249);
    --su-indigo-foreground-hover: rgb(125 175 255);
    --su-inactive: rgba(87, 85, 98, 0.5);
    --su-dark-green-bg: rgb(41 93 110);
    --su-dark-green-bg-hover: rgb(31 73 90);
    --su-dark-green-foreground: rgb(0 228 227);
    --su-dark-green-foreground-hover: rgb(0 208 207);
    --su-gray-blue: lightsteelblue;
    --su-gray-blue-opaque: rgb(176 196 222 / 38%);
    --su-error: rgb(255 87 182);
    --su-red: rgb(208, 65, 96);
    --su-red-hover: rgb(175, 50, 75);
    --su-dark-bg-opaque: rgb(0 94 159 / 15%);
    --su-dark-bg: rgb(26, 24, 42);
    --su-font-sans: 'Libre Franklin', sans-serif;
    --su-font-alt-serif: Lora, serif;
}

.superUnfollow,
.superUnfollow > * {
    box-sizing: border-box;
    font-size: 16px;

    & :is(h1, h2, h3, h4, h5, h6, div, p, span, dialog, input, button) {
        font-family: var(--su-font-sans);
        color: var(--su-white);
    }

    & h2,
    h3,
    h4 {
        font-weight: 500;
        margin-block: 0;
    }

    &.su-checkbox-container {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }

    & .su-button,
    &.su-button {
        background-color: var(--su-indigo);
        color: var(--su-green);
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        border: none;
        font-size: 0.85rem;
        font-weight: 500;
        cursor: pointer;
        white-space: nowrap;

        &[disabled] {
            opacity: 0.7;
            cursor: not-allowed;
            background-color: var(--su-inactive);
        }

        font-size: 0.9rem;
        color: var(--su-bright-blue);
        background-color: var(--su-ice-bg);

        &:hover:not([disabled]) {
            color: var(--su-bright-blue-hover);
            background-color: transparent;
        }

        &.super-unfollow {
            background-color: var(--su-indigo);
            color: var(--su-indigo-foreground);

            &:hover:not([disabled]) {
                background-color: var(--su-indigo-hover);
                color: var(--su-indigo-foreground-hover);
            }
        }

        &.alt {
            color: var(--su-ice);
            background-color: var(--su-ice-bg);
            border-color: transparent;

            &:hover:not([disabled]) {
                color: var(--su-ice-hover);
                background-color: var(--su-ice-bg-hover);
            }
        }

        &.alt.running,
        &.super-unfollow.running {
            color: var(--su-white);
            background-color: var(--su-red);
            z-index: 99999;

            &:hover {
                color: var(--su-white);
                background-color: var(--su-red-hover);
            }
        }

        &.no-outline {
            border: none;
        }

        &.needed {
            color: var(--su-green);
        }

        &.su-show-modal {
            border-radius: 0.5rem 0 0.5rem;
            position: fixed;
            top: 10px;
            right: 10px;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            background-color: var(--su-indigo);
            color: var(--su-indigo-foreground);
            z-index: 99998;

            &:hover {
                background-color: var(--su-indigo-hover);
                color: var(--su-indigo-foreground-hover);
            }
        }
    }

    &.su-dialog {
        width: 24rem;
        background-color: var(--su-dark-bg);
        border-radius: 0.5rem;
        padding-inline: 1.5rem;
        opacity: 0.9;
        inset-block-start: 25%;
        inset-block-end: unset;
        padding-block-start: 2rem;
        padding-block-end: 1rem;
        max-height: 80vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 50px 10px rgb(4 158 252 / 32%);

        &::backdrop {
            background-color: rgba(29, 27, 44, 0.7);
        }

        & .su-dialog-container {
            display: flex;
            flex-direction: column;

            & .su-heading {
                color: var(--su-white);
                font-size: 1rem;
                font-weight: 500;
                margin-block: 0;
            }

            & .su-heading-input-container {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                align-items: center;
                justify-content: center;

                & .su-sub-heading {
                    color: var(--su-powder-blue);
                    font-size: 0.8em;
                    font-weight: 300;
                    margin-top: 0.375rem;
                    max-width: 20rem;
                }

                & .su-search-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    & input[type='text'] {
                        background: var(--su-dark-bg-opaque);
                        border: 1px solid var(--su-ice-bg);
                        outline: none;
                        flex-grow: 1;
                        padding: 0.5rem;
                        color: white;
                        border-radius: 0.5rem;

                        &::placeholder {
                            color: var(--su-gray-blue-opaque);
                        }

                        &:focus {
                            outline: 1px solid var(--su-ice-bg);
                        }
                    }

                    & .su-search-button {
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        color: var(--su-ice);
                        flex-grow: 1;
                        flex-basis: 0;
                        background: var(--su-ice-bg);
                        border: 1px solid var(--su-ice-bg);
                        font-weight: 500;
                        cursor: pointer;
                        margin-left: 0.5rem;

                        &:hover {
                            background-color: var(--su-ice-bg-hover);
                            border-color: var(--su-ice-bg-hover);
                            color: var(--su-ice-hover);
                        }
                    }
                }
            }

            /* view buttons using input/label toggle */
            & .su-view-buttons-container {
                display: flex;
                align-self: end;

                & input {
                    display: none;
                }

                & label:has(input:checked) {
                    background-color: var(--su-ice-bg);
                    color: var(--su-ice);
                    border-color: var(--su-ice-bg);
                }

                & label.su-view-button {
                    background-color: transparent;
                    font-size: 0.75rem;
                    text-align: left;
                    align-self: flex-end;
                    color: var(--su-ice);
                    padding: 0.25rem 0.5rem;
                    text-align: center;
                    border: 1px solid var(--su-ice-bg);
                    cursor: pointer;

                    &:first-child {
                        border-radius: 0.25rem 0 0 0.25rem;
                        border-right-width: 0;
                    }

                    &:last-child {
                        border-radius: 0 0.25rem 0.25rem 0;
                    }

                    &:hover {
                        color: var(--su-ice-hover);
                        border-color: var(--su-ice-bg-hover);
                    }
                }
            }

            & .su-modal-buttons-container {
                border-radius: 0.5rem;
                margin-top: 1rem;
                display: flex;
                justify-content: space-between;
                gap: 0.25rem;
                align-items: center;

                & > button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.25rem;
                    line-height: 1.25rem;
                }

                & .su-collect-superunfollow-container {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    gap: 0.5rem;
                }
            }

            & .su-metrics {
                color: var(--su-white);
                justify-content: center;
                margin-block-start: 1rem;
                margin-inline: auto;
                font-size: 0.9rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                flex: 1;
                justify-content: space-between;

                & .su-highlight {
                    color: var(--su-ice);
                }
            }

            & .su-notice {
                color: var(--su-powder-blue);
                font-size: 0.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;
                line-height: 1.25rem;
                margin-block: 1rem;

                &.complete {
                    color: var(--su-green);
                }
            }

            & .su-close-button {
                position: absolute;
                top: 2px;
                right: 2px;
                background: none;
                border: none;
                color: var(--su-powder-blue);
                cursor: pointer;

                &:hover {
                    color: var(--su-indigo-hover);
                }
            }

            & .su-results {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                overflow-y: auto;

                & .su-results-inner {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    align-self: flex-start;
                    gap: 0.5rem;
                    margin-block-start: 1.5rem;

                    & .su-search-result {
                        color: white;
                        display: flex;
                        align-items: flex-start;
                        gap: 0.5rem;
                        font-size: 0.9rem;

                        & .su-result-label {
                            display: flex;
                            align-items: baseline;
                            justify-content: start;
                            flex-wrap: wrap;
                            list-style-type: auto;

                            & .su-handle {
                                color: var(--su-gray-blue);
                                font-weight: 400;
                            }
                        }

                        & .su-list-item {
                            display: flex;
                            align-items: baseline;
                            justify-content: start;
                            flex-wrap: wrap;
                            list-style-type: auto;

                            & .su-handle {
                                color: var(--su-gray-blue);
                                font-weight: 400;
                            }
                        }

                        & input[type='checkbox'],
                        & label {
                            cursor: pointer;
                            display: flex;
                            align-items: start;
                            gap: 0.5rem;
                            flex-direction: row-reverse;
                        }
                    }

                    & > h4 {
                        font-size: 0.95rem;
                        margin-block-start: 1.25rem;
                        margin-block-end: 0.5rem;
                    }

                    & .su-highlight {
                        color: var(--su-ice);
                    }

                    & p {
                        font-size: 0.75rem;
                        font-weight: 300;
                        text-transform: uppercase;
                        color: var(--su-powder-blue);
                        margin-block: 0;

                        &.su-error {
                            color: var(--su-error);
                        }
                    }
                }

                & .su-select-all {
                    & label {
                        color: var(--su-ice) !important;
                    }
                }
            }
        }
    }

    & .su-loader {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--su-ice);
        font-size: 1.25rem;
        font-weight: 500;

        & .su-spinner {
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 50%;
            border: 0.25rem solid var(--su-ice-bg);
            border-top-color: var(--su-ice);
            animation: spin 1.25s infinite linear;
            margin-right: 0.5rem;
        }
    }

    & .su-error {
        color: var(--su-error);
    }
}

dialog.su-dialog {
    &::-webkit-scrollbar {
        background-color: var(--su-dark-bg);
        width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--su-ice-bg);
        border-radius: 0.5rem;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
